# Files/paths/patterns for git to ignore 
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.Rproj.user
Rcode/200404/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/200404/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/200404/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/200404/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/200504/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/200504/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/200504/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/200504/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/200504/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/200704/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/200704/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/200704/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/200704/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/200704/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/200807/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/200807/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/200807/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/200807/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/200807/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/200904/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/200904/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/200904/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/200904/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/200904/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201104/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/201104/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201104/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201104/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201104/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201207/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/201207/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201207/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201207/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201207/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201307/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/201307/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201307/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201307/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201307/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201707/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/201707/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201707/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201707/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201707/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201807/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201807/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201807/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201807/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/201907/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/201907/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/201907/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/201907/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/201907/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/202107/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/202107/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/202107/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/202107/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/allyears/POS/10percent/Output/mla_ind_pop_metrics_long_pos_10.rds
Rcode/allyears/POS/30percent/Output/mla_ind_pop_metrics_long_pos_30.rds
Rcode/allyears/POS/50percent/Output/mla_ind_pop_metrics_long_pos_50.rds
Rcode/allyears/POS/70percent/Output/mla_ind_pop_metrics_long_pos_70.rds
Rcode/allyears/POS/90percent/Output/mla_ind_pop_metrics_long_pos_90.rds
Rcode/200404/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/200404/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/200404/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/200404/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/200404/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/200504/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/200504/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/200504/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/200504/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/200504/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/200704/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/200704/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/200704/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/200704/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/200704/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/200807/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/200807/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/200807/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/200807/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/200807/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/200904/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/200904/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/200904/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/200904/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/200904/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201104/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201104/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201104/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201104/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201104/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201207/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201207/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201207/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201207/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201207/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201307/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201307/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201307/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201307/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201307/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201707/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201707/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201707/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201707/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201707/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201807/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201807/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201807/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201807/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201807/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/201907/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/201907/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/201907/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/201907/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/201907/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/202107/FOS/Run-b10n10/Output/mla_ind_pop_metrics_long_fos_r1010.rds
Rcode/202107/FOS/Run-b10n20/Output/mla_ind_pop_metrics_long_fos_r1020.rds
Rcode/202107/FOS/Run-b10n30/Output/mla_ind_pop_metrics_long_fos_r1030.rds
Rcode/202107/FOS/Run-b10n40/Output/mla_ind_pop_metrics_long_fos_r1040.rds
Rcode/202107/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/200404/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/200404/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/200404/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/200404/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/200404/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/200504/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/200504/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/200504/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/200504/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/200504/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/200704/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/200704/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/200704/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/200704/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/200704/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/200807/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/200807/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/200807/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/200807/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/200807/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/200904/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/200904/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/200904/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/200904/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/200904/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201104/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201104/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201104/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201104/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201104/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201207/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201207/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201207/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201207/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201207/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201307/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201307/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201307/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201307/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201307/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201707/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201707/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201707/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201707/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201707/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201807/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201807/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201807/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201807/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201807/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/201907/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/201907/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/201907/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/201907/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/201907/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/202107/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/202107/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/202107/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/202107/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/202107/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/allyears/FOS/Run-b10n50/Output/mla_ind_pop_metrics_long_fos_r1050.rds
Rcode/allyears/Hybrid/Run-3010/Output/mla_ind_pop_metrics_long_hy_r3010.rds
Rcode/allyears/Hybrid/Run-3030/Output/mla_ind_pop_metrics_long_hy_r3030.rds
Rcode/allyears/Hybrid/Run-3050/Output/mla_ind_pop_metrics_long_hy_r3050.rds
Rcode/allyears/Hybrid/Run-4030/Output/mla_ind_pop_metrics_long_hy_r4030.rds
Rcode/allyears/Hybrid/Run-4050/Output/mla_ind_pop_metrics_long_hy_r4050.rds
Rcode/allyears/FOS/Run-b10n100/Output/mla_ind_pop_metrics_long_fos_r10100.rds
Rcode/allyears/FOS/Run-b10n150/Output/mla_ind_pop_metrics_long_fos_r10150.rds
Rcode/allyears/FOS/Run-b10n200/Output/mla_ind_pop_metrics_long_fos_r10200.rds
Rcode/allyears/FOS/Run-b10n250/Output/mla_ind_pop_metrics_long_fos_r10250.rds
Rcode/year_comparisons/alk.data.all.RDS
Rcode/allyears/POS/90percent/Output/subset_data_90.rds
Rcode/allyears/POS/90percent/Output/mla_ind_model_metrics_long_pos_90.rds
